body {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

header{
    display: flex;
    padding: 20px;
}
#header-container { 
    position: absolute;
    right: 5%;
}
#cart,#avatar {
    padding: 0 5px;
}
#basket{
    position: absolute;
    background-color: white;
    top: 70px;
    left: 7px;
    right: 7px;
    height: 260px;
    border-radius: 5px;
    display: none;
    z-index: 3;
}
#basket div:first-child {
    border-bottom:solid 1px rgb(207, 206, 206);
}
#basket div:first-child h3{
    padding-left:20px;
}
#basket div:last-child{
    text-align: center;
}
.cart-svg{
    height: 18px;
    width: 16px;
    padding: 0px 10px;
    vertical-align: middle;
}
#basket-filled{
    display: flex;
}
#product-image-container img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
#logo{
    margin: 0 10px;
}
#avatar{
    width: 20px;
    height: 20px;
}
#menu-svg {
    padding: 4px 0;
}
#close-svg{
    padding: 4px 0;
}

nav{
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}
.open-nav{
    transform: translateX(0);
}
nav ul{
    padding: 0;
}
nav ul li{
    list-style: none;
    padding: 10px 0;
}
nav ul li a{
    text-decoration: none;
}
#image-container {
    display: flex;
}
#previous,#next {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-top: 45%;
}
#previous{
    left: 15px;
}
#next{
    right: 15px;
}
#product-1{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#content{
    padding: 0 20px;
}
#content h1 span{
    display: block;
    font-size: small;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#content h1{
    margin: 10px 0;
}
#content #shoe-description{
    color: gray;
    font-size: 16px;
}
#content #price{
    display: flex;
    align-self: flex-start;
    gap: 10px;
}
#content #price #current-price{
    font-weight: bold;
    font-size: 20px;
}
#content #price #discount{
    background-color: rgb(239, 202, 209);
    padding: 2px 4px;
    border-radius: 5px;
    color: rgb(249, 147, 4);
}
#content #price #original-price{
    position: absolute;
    text-decoration: line-through;
    color: gray;
    right: 21px;
}

#input-container{
    display: flex;
}
#quantity-container{
    text-align: center;
    font-weight: bold;
}
#minus,#plus{
    position: absolute;
}
#minus{
    left: 35px;
    margin-top: 20px;
}
#plus{
    right: 35px;
    margin-top: 15px;
}

input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
}
button{
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(249, 147, 4);
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
   
}
#button-container {
    padding-right: 10px;
}
button span {
    vertical-align: middle;
}

